# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
out

src/main/kotlin/com/github/dansman805/discordbot/Config.kt
out/production/classes/com/github/dansman805/discordbot/ConfigKt.class